<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>sarbacanedesktop</name>
	<displayName><![CDATA[Contact lists - Mailify]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Synchronize contact lists with data from PrestaShop.]]></description>
	<author><![CDATA[Sarbacane Software]]></author>
	<tab><![CDATA[emailing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>